.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage {
  object-fit: contain;
}

.app__header {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.app__headerLeft {
  flex: 0.9;
}
.app__headerIcons {
  display: flex;
  flex: 0.1;
}

.headerIcon {
  padding: 15px;
  margin-left: 20px;
}
